*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: antiquewhite;
    height: 100vh;
    display: grid;
    place-items: center;
}


form{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 600px;
    width: 100%;
    margin: auto;
    padding: 8rem 4rem;
}

h1{
    font-family: sans-serif;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 8px;
}
 input{
    height: 40px;
    border: 1px solid rgb(182, 180, 180);

 }
button{
    background-color: blueviolet;
    border-radius: 5px;
    cursor: pointer;
    padding: 1rem 2rem;
    border: none;
    color: white;
    width: 12rem;
    align-self: center;
}

.error{
    color: red;
    font-style: 0.7rem;
    text-align: right;
    margin: 1rem;
}